/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/mountains.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff
}

/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/* Quizzer card */
#card {
    margin-top: 100px;
    height: 250px;
}

#phrase-selection {
    text-align: center;
}

#phrase-selection ul {
    display: inline-block;
}

#phrase-selection li {
   list-style: none;
   padding: 9px;
}

.btn-phrase {
    width: 100%
}

#prompter {
    margin-top: 15px;
    text-align: center;
    width: 50%;
    font-size: 3em;
}


/* Flashcard */
#flashcard{
    margin-top: 100px;
    height: 250px;
}
#language-indicator-box {
    height: 25px;
    margin: 10px;
}
#phrase-box {
    height: 90px;
    margin: 25px;
}
#button-box {
    height: 75px;
}

.flashcard-button{
    height: 75px;
    padding: 10px;
    font-size: 50px;
}
.flashcard-button:hover{
    background-color: lightblue;
    color: #337ab7;
}
